@keyframes wheel-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.Map {
  float: left;
  width: 50%;
  height: 100vh;
  background-image: url('map.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 100%;
}

.Controls {
  float: right;
  width: 50%;
  height: 100vh;
  background-color: green;
}

.Speed {
  height: 50vh;
}

.Wheel {
  height: 50vh;
  position: relative;
}

.Wheel img {
  width: 30%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: wheel-spin infinite 20s linear;
}