.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.Map {
  float: left;
  width: 50%;
  height: 100vh;
  /* background-color: blue; */
  background-image: url('map.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
